
body{
    margin: 0;
    padding: 0;
    background-image: url("./img/fondo.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-attachment: fixed;
    overflow-x: hidden;
    height: 100dvh !important;
}

body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}